<!--<div fxFlex [formGroup]="form">
  <md-select placeholder="Favorite food" name="food" class="md-select-placeholder" [formControlName]="property">
    <md-option *ngFor="let item of list" [innerHTML]="item[spTextField]" [value]="item[spValueField]">
    </md-option>

  </md-select>
  <md-hint [ngStyle]="{'color': 'red'}" align="start">
    error
  </md-hint>
</div>-->
<md-input-container fxFlexFill>
  <input mdInput fxFlexFill placeholder="State" [mdAutocomplete]="auto" [formControl]="control">
  <md-hint *ngIf="errorMessages" [ngStyle]="{'color': 'red'}" align="start">
    {{errorMessages}}
  </md-hint>
</md-input-container>

<md-autocomplete fxFlexFill #auto="mdAutocomplete" [displayWith]="displayFn.bind(this)">
  <md-option *ngFor="let state of filteredStates | async" [value]="state" (onSelect)="selected(state)">
    {{ state[spTextField] }}
  </md-option>

</md-autocomplete>