<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="5px">
  <div fxFlex="33%" *ngFor="let special of specials">
    <md-card fxFlex="100%">
      <md-card-header>
        <div md-card-avatar></div>
        <md-card-title>{{special.PromoCode}}</md-card-title>
        <md-card-subtitle>{{special.ProductType}}</md-card-subtitle>
      </md-card-header>
      <!--<img md-card-image src="assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <md-card-content>
        <p>
          {{special.Details}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button md-raised-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
