<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="content">

    <div fxFlex="100%" fxFlex.gt-sm="60" fxFlexOffset.gt-sm="20">

      <md-card>
        <md-card-title>Register Customer</md-card-title>
        <md-card-content>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="EmailAddress" [form]="forgotPasswordForm" [validationMessages]="emailErrors"
                                  spPlaceholder="Email Address"></form-control-input>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>