<div>
  <header>
    <h1>Storyline Tracker</h1>
    <h3>Lazily Loaded Router Demo</h3>
    <nav>
      <ul>
        <li><a [routerLink]="['/characters']" href="">Characters</a></li>
        <li><a [routerLink]="['/specials']" href="">Vehicles</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>
</div>

<!--<div fxLayout="column" class="bigger">
  <div fxLayout="row"
       fxLayoutAlign="start center"
       fxLayoutGap="20px"
       style="height:40px; min-height:40px;">
    <h2>Layout Demos: </h2>
    <h1>
      {{title}}
      <button md-raised-button color="accent">Click me!</button>
    </h1>
  </div>
  <div fxFlex fxLayout="column"
       fxLayoutAlign="left top"
       style="font-size: 0.85em; margin-top: 10px; padding-bottom:20px; white-space:normal">
    These Layout demos are curated from the Angular Material v1.x documentation, GitHub Issues, StackOverflow,
    and CodePen.
    <span class="title" style="font-size: 0.7em; font-weight:normal;">
      Hint: Click on any of the samples below to toggle the layout direction(s).
    </span>
  </div>
  <md-card class="card-demo">
    <md-card-title>Responsive Flex Ordering</md-card-title>
    <md-card-subtitle>Add the flex-order directive to a layout child to set its order position within the layout container:</md-card-subtitle>
    <md-card-content>
      <div class="containerX">
        <div fxLayout="row" class="coloredContainerX box">
          <div fxFlex fxFlexOrder="-1">
            <p>[flex-order="-1"]</p>
          </div>
          <div fxFlex fxFlexOrder="1" fxFlexOrder.gt-md="3">
            <p fxHide="false" fxHide.gt-md>   [flex-order="1"]        </p>
            <p fxShow="false" fxShow.gt-md>   [flex-order.gt-md="3"]  </p>
          </div>
          <div fxFlex fxFlexOrder="2">
            <p>[flex-order="2"]</p>
          </div>
          <div fxFlex fxFlexOrder="3" fxFlexOrder.gt-md="1">
            <p fxHide="false" fxHide.gt-md>   [flex-order="3"]        </p>
            <p fxShow="false" fxShow.gt-md>   [flex-order.gt-md="1"]  </p>
          </div>
        </div>
      </div>
    </md-card-content>
    <md-card-footer style="width:95%">
    </md-card-footer>
  </md-card>
</div>-->
