<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="content">

    <div fxFlex="100%" fxFlex.gt-xs="90" fxFlexOffset.gt-xs="5">

      <md-card>
        <md-card-title>
          <span>Create Company</span>

        </md-card-title>

        <md-card-content>

          <div fxLayout.gt-xs="row" fxLayout="column">

            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="CompanyName" [form]="createCompanyForm"
                                  spPlaceholder="Company Name" spRequired="{{1===1}}"
                                  [validationMessages]="companyNameErrors">
              </form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="NumberOfEmployees" [form]="createCompanyForm"
                                  spPlaceholder="Number Of Employees">
              </form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="Details" [form]="createCompanyForm"
                                  spPlaceholder="Details" spRequired="{{1==1}}"
                                  [validationMessages]="detailsErrors"></form-control-input>
            </div>
          </div>

          <div [formGroup]="createCompanyForm">

            <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i=index">

              <div [formGroupName]="i" fxLayout.gt-xs="row" fxLayout="column">

                <div fxFlex fxFlex.gt-xs="33" class="padding-5">
                  <form-control-input property="AddressState" [form]="address"
                                      spPlaceholder="State"
                                      [spRequired]="formGroupService.addressGroup.isStateRequired"
                                      [validationMessages]="formGroupService.addressGroup.AddressStateError">
                  </form-control-input>
                </div>

                <div fxFlex fxFlex.gt-xs="33" class="padding-5">
                  <form-control-input property="PostCode" [form]="address" [spType]="number"
                                      spPlaceholder="Postcode" [spRequired]="formGroupService.addressGroup.isPostCodeRequired"
                                      [validationMessages]="formGroupService.addressGroup.PostCodeError"></form-control-input>
                </div>
                <div fxFlex fxFlex.gt-xs="33" class="padding-5" coreFlexInput>
                  <core-list spTextField="Description" spValueField="Id" property="AddressTypeId"
                             spPlaceholder="Address Type"
                             [validationMessages]="formGroupService.addressGroup.AddressTypeError"
                             [form]="address" lpName="AddressType">
                  </core-list>
                </div>

              </div>
            </div>
          </div>

        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
