<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="content">

    <div fxFlex="100%" fxFlex.gt-xs="90" fxFlexOffset.gt-xs="5">

      <md-card>
        <md-card-title>
          <span>Create Franchise</span>
          <button style="float:right;" md-raised-button color="primary" (click)="AddCompany()">
            Add Company
          </button>
        </md-card-title>

        <md-card-content>
          <div fxLayout.gt-xs="row" fxLayout="column">

            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <core-autocomplete spTextField="Description" spValueField="Id" property="CompanyId"
                                 spPlaceholder="Select Company"
                                 [validationMessages]="formGroupService.addressGroup.AddressTypeError"
                                 [form]="registerFranchiseForm" [lpName]="AddressType">
              </core-autocomplete>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="AddressState" [form]="registerFranchiseForm.get('AddressGroup')"
                                  spPlaceholder="State" [spRequired]="formGroupService.addressGroup.isStateRequired"
                                  [validationMessages]="formGroupService.addressGroup.AddressStateError">
              </form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="PostCode" [form]="registerFranchiseForm.get('AddressGroup')"
                                  spPlaceholder="Postcode" [spRequired]="formGroupService.addressGroup.isPostCodeRequired"
                                  [validationMessages]="formGroupService.addressGroup.PostCodeError"></form-control-input>
            </div>
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div coreFlexInput fxFlex fxFlex.gt-xs="33">
              <core-list spTextField="Description" spValueField="Id" property="AddressTypeId"
                         spPlaceholder="Address Type"
                         [validationMessages]="formGroupService.addressGroup.AddressTypeError"
                         [form]="registerFranchiseForm.get('AddressGroup')" lpName="AddressType">
              </core-list>
            </div>
            <div coreFlexInput fxFlex fxFlex.gt-xs="33">
              <core-list spTextField="Description" spValueField="Id" property="CompanyFranchiseCategoryId"
                         [validationMessages]="companyFranchiseCategoryError" spPlaceholder="Category"
                         [form]="registerFranchiseForm" lpName="CompanyFranchiseCategory">
              </core-list>
            </div>
          </div>

          <div fxLayout.gt-sm="row" fxLayout="column" [formGroup]="registerFranchiseForm">
            <div coreFlexInput fxFlex fxFlex.gt-xs="33">
              <md-checkbox fxFlexFill formControlName="CanContactCustomers">Can be contacted</md-checkbox>
            </div>

            <div coreFlexInput fxFlex fxFlex.gt-sm="33">
              <md-checkbox formControlName="CanSellOnline" style="margin-top:5px;">Can sell online</md-checkbox>
            </div>

            <div coreFlexInput fxFlex fxFlex.gt-sm="33">
              <md-checkbox formControlName="CanGetCustomerDetails" style="margin-top:15px;">Can get customer details</md-checkbox>
            </div>
          </div>
          <div fxLayout.gt-xs="row" fxLayout="column">

            <div fxFlex="100" fxFlex.gt-xs="50" [ngClass]="{'padding-5': true}">
              <button fxFlexFill md-raised-button color="primary" (click)="submit()"
                      [disabled]="(registerFranchiseForm.dirty && registerFranchiseForm.invalid) || registerFranchiseForm.pristine">
                Register
              </button>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" [ngClass]="{'padding-5': true}">
              <button md-raised-button fxFlexFill
                      (click)="cancel()">
                Cancel
              </button>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>