<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="content">

    <div fxFlex="100%" fxFlex.gt-xs="90" fxFlexOffset.gt-xs="5">

      <md-card>
        <md-card-title>Create Franchise</md-card-title>
        <md-card-content>
          <div fxLayout.gt-xs="row" fxLayout="column">

            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="Name" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Franchise Name" spRequired="true"></form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="Name" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Franchise Name" spRequired="true"></form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="Name" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Franchise Name" spRequired="true"></form-control-input>
            </div>
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">

            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="Name" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Franchise Name" spRequired="true"></form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="Name" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Franchise Name" spRequired="true"></form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="Name" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Franchise Name" spRequired="true"></form-control-input>
            </div>
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">

            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="Name" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Franchise Name" spRequired="true"></form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="Name" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Franchise Name" spRequired="true"></form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="Name" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Franchise Name" spRequired="true"></form-control-input>
            </div>
          </div>

        </md-card-content>
      </md-card>
    </div>
  </div>
</div>