<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="content">

    <div fxFlex="100%" fxFlex.gt-xs="90" fxFlexOffset.gt-xs="5">

      <md-card>
        <md-card-title>Create Franchise</md-card-title>
        <md-card-content>
          <div fxLayout.gt-xs="row" fxLayout="column">

            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="CompanyId" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Name" spRequired="true"></form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="AddressState" [form]="registerFranchiseForm.get('AddressGroup')"
                                  spPlaceholder="State" [spRequired]="formGroupService.addressGroup.isStateRequired"
                                  [validationMessages]="formGroupService.addressGroup.AddressStateError">
              </form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-control-input property="PostCode" [form]="registerFranchiseForm.get('AddressGroup')"
                                  spPlaceholder="Postcode" [spRequired]="formGroupService.addressGroup.isPostCodeRequired"
                                  [validationMessages]="formGroupService.addressGroup.PostCodeError"></form-control-input>
            </div>
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div coreFlexInput fxFlex fxFlex.gt-xs="33">
              <!--<form-autocomplete [list]="AddressTypes" spTextField="Description" spValueField="Id"
                           [validationMessages]="formGroupService.addressGroup.AddressTypeError"
                           property="AddressTypeId" [form]="registerFranchiseForm.get('AddressGroup')"></form-autocomplete>-->
              <core-list spTextField="Description" spValueField="Id" property="AddressTypeId"
                         spPlaceholder="Address Type"
                         [validationMessages]="formGroupService.addressGroup.AddressTypeError"
                         [form]="registerFranchiseForm.get('AddressGroup')" lpName="AddressType">
              </core-list>
            </div>
            <div coreFlexInput fxFlex fxFlex.gt-xs="33">
              <core-list spTextField="Description" spValueField="Id" property="CompanyFranchiseCategoryId"
                         [validationMessages]="companyFranchiseCategoryError" spPlaceholder="Category"
                         [form]="registerFranchiseForm" lpName="CompanyFranchiseCategory">
              </core-list>
            </div>
            <div coreFlexInput fxFlex fxFlex.gt-xs="33">
              <form-control-input property="CompanyId" [form]="registerFranchiseForm" [validationMessages]="name"
                                  spPlaceholder="Franchise Name" spRequired="true"></form-control-input>
            </div>
          </div>

          <div fxLayout.gt-sm="row" fxLayout="column" [formGroup]="registerFranchiseForm">
            <div coreFlexInput fxFlex fxFlex.gt-xs="33">
              <md-checkbox fxFlexFill formControlName="CanContactCustomers">Can be contacted</md-checkbox>
            </div>
            
            <div coreFlexInput fxFlex fxFlex.gt-sm="33">
              <md-checkbox formControlName="CanSellOnline" style="margin-top:5px;">Can sell online</md-checkbox>
            </div>

            <div coreFlexInput fxFlex fxFlex.gt-sm="33">
              <md-checkbox formControlName="CanGetCustomerDetails" style="margin-top:15px;">Can get customer details</md-checkbox>
            </div>
          </div>

        </md-card-content>
      </md-card>
    </div>
  </div>
</div>