<!--<form-autocomplete [list]="AddressTypes" [spTextField]="spTextField" [spValueField]="spValueField"
             [spPlaceholder]="spPlaceholder"
             [validationMessages]="validationMessages"
             [property]="property" [form]="form"></form-autocomplete>-->

<form-select [list]="AddressTypes" [spTextField]="spTextField" [spValueField]="spValueField"
                   [spPlaceholder]="spPlaceholder"
                   [validationMessages]="validationMessages"
                   [property]="property" [form]="form"></form-select>