<!--http://www.dzurico.com/angular-flex-layout/-->

<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="content">

    <div fxFlex="100%" fxFlex.gt-sm="60" fxFlexOffset.gt-sm="20">

      <md-card>
        <md-card-title>Register Customer</md-card-title>
        <md-card-content>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex fxFlex.gt-xs="50" class="padding-5">
              <form-control-input property="EmailAddress" [form]="registerForm" [validationMessages]="emailErrors"
                                  spType="email" spPlaceholder="Email Address" spRequired="true"></form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="50" class="padding-5">
              <form-control-input property="UserName" [form]="registerForm" [validationMessages]="emailErrors"
                                  spPlaceholder="User Name"></form-control-input>
            </div>
            <!--<div fxFlex fxFlex.gt-xs="33" class="padding-5">
              <form-select [list]="foods" spTextField="viewValue" spValueField="value" [validationMessages]="foodTypeMessage"
                           property="FoodType" [form]="registerForm"></form-select>

            </div>-->
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex fxFlex.gt-xs="50" class="padding-5">
              <form-control-input property="Password" [form]="registerForm.get('passwordGroup')" spType="password"
                                  spRequired="true" [validationMessages]="passwordMessage" spPlaceholder="Password"></form-control-input>
            </div>
            <div fxFlex fxFlex.gt-xs="50" class="padding-5">
              <form-control-input property="ConfirmPassword" [form]="registerForm.get('passwordGroup')" spType="password"
                                  spRequired="true" [validationMessages]="formGroupService.confirmPassword.errorMessage" spPlaceholder="Confirm Password"></form-control-input>
            </div>
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex fxFlex.gt-xs="50" class="padding-5">
              <form-control-input property="FirstName" [form]="registerForm" [validationMessages]="firstName"
                                  spRequired="true" spPlaceholder="First Name"></form-control-input>
            </div>

            <div fxFlex fxFlex.gt-xs="50" class="padding-5">
              <form-control-input property="LastName" [form]="registerForm" [validationMessages]="lastName"
                                  spRequired="true" spPlaceholder="Surname"></form-control-input>
            </div>
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex fxFlex.gt-xs="50" class="padding-5">
              <form-date spRequired="true" property="DateOfBirth" [form]="registerForm" [validationMessages]="dobMessage"
                         spPlaceholder="DOB dd/mm/yyyy"></form-date>
            </div>
            <div fxFlex fxFlex.gt-xs="50" class="padding-5">
              <form-control-input property="PhoneNumber" [form]="registerForm" [validationMessages]="lastName"
                                  spPlaceholder="Phone Number"></form-control-input>
            </div>
          </div>


          <div fxLayout.gt-xs="row" fxLayout="column">

            <div fxFlex="100" fxFlex.gt-xs="50" [ngClass]="{'padding-5': true}">
              <button fxFlexFill md-raised-button color="primary" (click)="submit(user)"
                      [disabled]="(registerForm.dirty && registerForm.invalid) || registerForm.pristine">
                Register
              </button>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" [ngClass]="{'padding-5': true}">
              <button md-raised-button fxFlexFill
                      (click)="cancel(user)">
                Cancel
              </button>
            </div>
          </div>
        </md-card-content>

      </md-card>

    </div>
  </div>
</div>