<!--http://www.dzurico.com/angular-flex-layout/-->
<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="content">

    <div fxFlex="100%" fxFlex.gt-sm="60" fxFlexOffset.gt-sm="20">

      <md-card>
        <md-card-title>Login</md-card-title>
        <md-card-content>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex>
              <form-input [spText]="user.EmailAddress" [spPlaceholder]="'Email Address'"
                          (spInputChange)="user.EmailAddress=$event"></form-input>
            </div>
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex="100" fxFlex.gt-xs="50">
              <form-input [spText]="user.FirstName" [spPlaceholder]="'FirstName'" [spRequired]="'true'"
                          (spInputChange)="user.FirstName=$event"></form-input>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50">
              <form-input [spText]="user.LastName" [spPlaceholder]="'LastName'"
                          (spInputChange)="user.LastName=$event"></form-input>
            </div>
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex>
              <button fxFlexFill md-raised-button color="primary" (click)="submit(user)">Register</button>
            </div>
          </div>

        </md-card-content>
      </md-card>

    </div>
  </div>
</div>
