<!--http://www.dzurico.com/angular-flex-layout/-->
<!--<div [formGroup]="registerForm">
  
</div>-->
<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="content">

    <div fxFlex="100%" fxFlex.gt-sm="60" fxFlexOffset.gt-sm="20">

      <md-card>
        <md-card-title>Register Customer</md-card-title>
        <md-card-content>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex>
              <form-control-input property="EmailAddress" [form]="registerForm" [validationMessages]="emailErrors"
                                  spPlaceholder="Email Address"></form-control-input>
            </div>
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex fxFlex.gt-xs="50">
              <form-control-input property="FirstName" [form]="registerForm"
                                  spPlaceholder="First Name"></form-control-input>
            </div>

            <div fxFlex fxFlex.gt-xs="50">
              <form-control-input property="LastName" [form]="registerForm"
                                  spPlaceholder="Surname"></form-control-input>
            </div>
          </div>

          <div fxLayout.gt-xs="row" fxLayout="column">
            <div fxFlex>
              <button fxFlexFill md-raised-button color="primary" (click)="submit(user)">Register</button>
            </div>
          </div>

        </md-card-content>
      </md-card>

    </div>
  </div>
</div>
