<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="content">

    <div fxFlex="100%" fxFlex.gt-xs="50" fxFlexOffset.gt-xs="25">

      <md-card>
        <md-card-title>Login</md-card-title>
        <md-card-content>
          <div fxLayout="column">

            <div fxFlex class="padding-5">
              <form-control-input property="EmailAddress" [form]="loginForm" [validationMessages]="emailErrors"
                                  spType="email" spPlaceholder="Email Address" spRequired="true"></form-control-input>
            </div>

            <div fxFlex class="padding-5">
              <form-control-input property="Password" [form]="loginForm" [validationMessages]="passwordErrors"
                                  spType="password" spPlaceholder="Password" spRequired="true"></form-control-input>
            </div>

            <div fxLayout.gt-xs="row" fxLayout="column">

              <div fxFlex="100" fxFlex.gt-xs="50" [ngClass]="{'padding-5': true}">
                <button fxFlexFill md-raised-button color="primary" (click)="submit()"
                        [disabled]="(loginForm.dirty && loginForm.invalid) || loginForm.pristine">
                  Login
                </button>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="50" [ngClass]="{'padding-5': true}">
                <button md-raised-button fxFlexFill
                        (click)="cancel()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>