<div class="flex-container" fxLayoutAlign.gt-xs="center center" fxLayout="column" fxLayoutAlign="center"
     fxLayout.gt-xs="row" style="height:400px;margin:auto;">
  <div fxFlex="30" hide.xs>
  </div>
  <div fxFlex="40">
    <md-card>
      <md-card-title>Login</md-card-title>
      <md-card-content>
        <div fxLayout="column">
          <md-input-container>
            <input mdInput placeholder="Favorite food" value="Sushi">
          </md-input-container>
          <br />
          <button md-raised-button color="primary">Login</button>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex="30"></div>
</div>
